@media (max-width: 767px) {
  .testimonials_container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .card{
    margin: 1rem; 
  }
  .testimonials_message{
    width: 100%; 
  }
}

/** dispositivos medianos (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
    .testimonials_container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 50%;
      }
      .card{
        margin: 1rem; 
      }
      .testimonials_message{
        width: 200%; 
      }
}

/** dispositivos grandes (desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
    .testimonials_container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        max-width: 50%;
      }
      .card{
        margin: 1rem; 
      }
      .testimonials_message{
        width: 300%; 
      }
}

/** dispositivos extra grandes (monitores grandes, tvs) */
@media (min-width: 1200px) {
    .testimonials_container{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        max-width: 50%;
      }
      .card{
        margin: 1rem; 
      }
      .testimonials_message{
        width: 500%; 
      }
}