@import url('https://fonts.googleapis.com/css2?family=Englebert&display=swap');

.bg {
    background-color: gray;    
}

.noneListStyle a{
    list-style: none;
    text-decoration: none!important;
    color: black!important;
}

.imgWidth{
    max-width: 100%!important;
}

p {
    font-size: 0.8rem;
}

ul li {
    font-family: 'Englebert', sans-serif;
    font-size: 1.2rem;
}