
.bg {
    background-color: gray;    
}

.noneListStyle, a{
    list-style: none;
    text-decoration: none!important;
    color: black!important;
}

.imgWidth{
    max-width: 100%!important;
}

p {
    font-size: 0.8rem;
}

ul li {
    font-size: 1rem;
}