@import url('https://fonts.googleapis.com/css2?family=Englebert&display=swap');

.App h1{
  text-align: center;
  font-family: 'Englebert', sans-serif;
  background-color: #9AC9FB;
  padding-inline: .5rem;
  padding-top: 13px;
  font-weight: 600;
  border-radius: 6px;
}

.App{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
